# Logs
logs
*.log
.DS_Store
atlas/logs/
atlas/agents/**/data/
atlas/services/**/data/
atlas/agents/node-agent/bin/
atlas/services/control-plane/control-plane
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/

# Environment variables
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store
