[Unit]
Description=Weekly Atlas Visibility Database Cleanup
Requires=atlas-cleanup.service

[Timer]
OnCalendar=Sun 03:00
Persistent=true

[Install]
WantedBy=timers.target
